<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing project task</h1>

  <%= render "form", project: @project, project_task: @project_task %>

  <%= link_to "See project task", project_project_task_path(@project, @project_task), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to project tasks", project_project_tasks_path(@project), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
